dbt-databricks==1.8.6
databricks-sdk==0.17.0 # NOTE: databricks-sdk is known to be incompatible with 0.29.0 due to https://github.com/databricks/dbt-databricks/issues/719, do not use this version
wheel==0.44.0